{% extends 'base.html' %}
{% load static %}
{% block head %}{% endblock  %}
{% block title %}Home Details{% endblock  %}
{% block body %}
<div class="container">
	<div class="c_content">
	{% for i in user|slice:"1:" %}
		<ul>
			<li>{{i.first_name}}
			<ul>
			{% for i in camera %}
				<a href=""><li>{{i.Name}}</li></a>
			{% endfor %}
			</ul>
			</li>
		</ul>
	{% endfor %}
	</div> 
	<div class="v_content">
		<form class="d-flex">
        	<input class="form-control m-2" type="search" placeholder="Search" aria-label="Search" style="width:40%;">
        	<button class="btn btn-outline-dark m-2" type="submit">Search</button>
      	</form>
		<!---->
            <iframe class="video_admin" src="https://www.youtube.com/embed/zFdi834FiZ4"></iframe>
        <div class="action_admin">
			<h4 class="click">Action</h4>
        	<a href="#" class="click_link">Click To send an audio Massage</a><br>
        	<a href="#" class="click_link">Click To set the camera not alaremed</a><br>
        	<a href="#" class="click_link">Click To set the camera alaremed</a><br>
        </div>
	</div> 
</div>
{% endblock  %}